<%= stylesheet_link_tag "pages" %>
<div class="main">
  <div class="container">
    <h1>Hello my name is Thanh Nguyen</h1>
    <p>I make Rails apps.</p>
    <ul>
        <li>
            <p><%= link_to "Broadway - Beautiful Landing Page", :controller => :broadway, :action => :home %></p>
        </li>
        <li>
            <p><%= link_to "Bolt Network - Interactive Movies Site", :controller => :bolt_network, :action => :home %></p>
        </li>
        <li>
            <p><%= link_to "Saving data - Messages and Chat", :controller => :messages, :action => :index %></p>
        </li>
        <li>
            <p><%= link_to "Saving data - Innovation Cloud", :controller => :signups, :action => :new %></p>
        </li>
        <li>
            <p><%= link_to "Saving data - Threadly - Post Blog", :controller => :posts, :action => :index %></p>
        </li>
        <li>
            <p><%= link_to "Application I - Tags and Destinations", :controller => :tags, :action => :index %></p>
        </li>
        <li>
            <p><%= link_to "Application I - Bookmarks", :controller => :books, :action => :index %></p>
        </li>
        <li>
            <p><%= link_to "Application I - Bass Musics", :controller => :books, :action => :index %></p>
        </li>
        <li>
            <p><%= link_to "Application II - Movies and Actors", :controller => :movies, :action => :index %></p>
        </li>
    </ul> 
  </div>
</div>